<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618648920314-6sromqe92i96da1e2vi8e349hndmbi3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618648920314-6sromqe92i96da1e2vi8e349hndmbi3i</string>
	<key>API_KEY</key>
	<string>AIzaSyCi1Av3LlTN8FPsPIYJaDRCOblPNN5HOa8</string>
	<key>GCM_SENDER_ID</key>
	<string>618648920314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Pursuit.RecipeMatcher</string>
	<key>PROJECT_ID</key>
	<string>ios-cta</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-cta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618648920314:ios:0d5909935d4009592ba943</string>
	<key>DATABASE_URL</key>
	<string>https://ios-cta.firebaseio.com</string>
</dict>
</plist>